<section>
  <div class="banner-header">
   <h1>Fashions fade, <br> style is eternal</h1>

   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita minus fuga at quidem nobis odio consectetur. Ad similique assumenda necessitatibus, blanditiis dolores quos non, quo, totam quibusdam accusamus tempore quis?</p>
  </div>
  <div class="image">
    <img src="/stow-kelly-uDfmJ8tijCY-unsplash.jpg" alt="">
  </div>
</section>