<%- include("partials/header.ejs") %>


<div class="form">
  <div class="img">
    <img src="/autri-taheri-3G1TJktMQJw-unsplash.jpg" alt="">
  </div>
  <form action="/signup" method="post">
    <h3>S i g n u p</h3>
    <input type="text" name="FirstName" id="user-name" placeholder="First Name">
    <input type="text" name="LastName" id="user-name" placeholder="Last Name">
    <input type="password" name="password" id="password" placeholder="Password">
    <input type="submit" value="Sign up" id = 'submit'>
    <a href="/login" id = "login">Login</a>
  </form>
</div>